<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
	<style>
		[v-clock] {
			display: none;
		}
	</style>
</head>

<body>
	<section class="todoapp" v-clock>
		<header class="header">
			<h1>todos</h1>
			<input class="new-todo" placeholder="What needs to be done?" autofocus @keyup.enter="add"
				v-model.trim="newTask">

		</header>
		<!-- 这个部分在默认情况下应该隐藏，当有待办事项时应该显示 -->
		<section class="main">
			<input id="toggle-all" class="toggle-all" type="checkbox">
			<label for="toggle-all" @click="toggleAll">Mark all as complete</label>
			<ul class="todo-list">
				<!-- 如果某一项是编辑状态,可以添加editing类名 -->
				<li :class="{completed:task.completed,editing:isEditing==task.id}" v-for="task in tasks"
					v-if="show(task.completed)">
					<div class="view">
						<input class="toggle" type="checkbox" v-model="task.completed">
						<label @dblclick="isEditing=task.id">{{task.title}}</label>
						<button class="destroy" @click="remove(task.id)"></button>
					</div>
					<input class="edit" v-model="task.title" @keyup.enter="isEditing=-1" @blur="isEditing=-1"
						v-todo-focus="isEditing==task.id">
				</li>
				<!-- <li>
					<div class="view">
						<input class="toggle" type="checkbox">
						<label>Buy a unicorn</label>
						<button class="destroy"></button>
					</div>
					<input class="edit" value="Rule the web">
				</li> -->
			</ul>
		</section>
		<!-- 这个页脚在默认情况下应该隐藏，当有待办事项时显示 -->
		<footer class="footer">
			<!-- 默认情况下，这应该是“0项剩余” -->
			<span class="todo-count"><strong v-text="activeNum"></strong> item left</span>
			<!--如果不实现路由，请删除此选项 -->
			<ul class="filters">
				<li>
					<a :class="{selected:flag===''}" href="#/">All</a>
				</li>
				<li>
					<a href="#/active" :class="{selected:flag.completed===false}">Active</a>
				</li>
				<li>
					<a href="#/completed" :class="{selected:flag.completed===true}">Completed</a>
				</li>
			</ul>
			<!-- 如果没有完成的条目↓则隐藏 -->
			<button class="clear-completed" @click="clearAll" v-if="isShow">Clear completed</button>
		</footer>
	</section>
	<footer class="info" v-clock>
		<p>Double-click to edit a todo</p>
		<!-- 删除下面的线↓ -->
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<!-- 将此更改为您的姓名和url↓-->
		<p>Created by <a href="http://todomvc.com">you</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>

</html>